.flows.json.backup
[
    {
        "id": "56da16a844402e59",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32ac4cdd391622b6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b134f0733ea77c42",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b3907a75d4c8030",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "074cb5dd9dd4d4d6",
        "type": "inject",
        "z": "56da16a844402e59",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "teste",
        "payloadType": "str",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "045795eaa2d1b996"
            ]
        ]
    },
    {
        "id": "045795eaa2d1b996",
        "type": "debug",
        "z": "56da16a844402e59",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "0230d1d9bcd1d0b0",
        "type": "http response",
        "z": "32ac4cdd391622b6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "34e52914491f7e67",
        "type": "function",
        "z": "32ac4cdd391622b6",
        "name": "RetornaHorario",
        "func": "msg.payload = { hora: new Date().toLocaleTimeString() };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "0230d1d9bcd1d0b0"
            ]
        ]
    },
    {
        "id": "02597da467930221",
        "type": "http in",
        "z": "32ac4cdd391622b6",
        "name": "",
        "url": "/hora",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "34e52914491f7e67"
            ]
        ]
    },
    {
        "id": "e0af2e230293eb08",
        "type": "http in",
        "z": "b134f0733ea77c42",
        "name": "",
        "url": "/saudacao",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "c0a88dc28bdc8daf"
            ]
        ]
    },
    {
        "id": "c0a88dc28bdc8daf",
        "type": "function",
        "z": "b134f0733ea77c42",
        "name": "function 2",
        "func": "let nome = msg.req.query.nome || \"Visitante\"; // Pega o nome ou usa \"Visitante\" como padrão\nmsg.payload = { mensagem: `Olá, ${nome}! Bem-vindo ao Node-RED!` };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "db9cc56682bffa7f"
            ]
        ]
    },
    {
        "id": "db9cc56682bffa7f",
        "type": "http response",
        "z": "b134f0733ea77c42",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "fd7b2219c48c5a84",
        "type": "http in",
        "z": "3b3907a75d4c8030",
        "name": "",
        "url": "/teste",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "84bbabdf81575bdb"
            ]
        ]
    },
    {
        "id": "84bbabdf81575bdb",
        "type": "function",
        "z": "3b3907a75d4c8030",
        "name": "function 1",
        "func": "msg ='testes'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "f9abc6dc5c73ed2b"
            ]
        ]
    },
    {
        "id": "f9abc6dc5c73ed2b",
        "type": "http response",
        "z": "3b3907a75d4c8030",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 240,
        "wires": []
    }
]